@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff2") format("woff");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.advantages {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.advantages__item--with-image {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item--with-image {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 512px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--with-image {
    grid-template-columns: 1fr 800px;
  }
}
.advantages__title {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages__title {
    grid-column: 1 / 2;
  }
}
@media (min-width: 768px) {
  .advantages__number {
    grid-column: 1 / 2;
  }
}
@media (min-width: 768px) {
  .advantages__description {
    grid-column: 1 / 2;
  }
}
@media (min-width: 768px) {
  .advantages__image {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted {
    grid-template-columns: 512px 1fr;
  }
  .advantages__item--inverted .advantages__title {
    grid-column: 2 / 3;
  }
  .advantages__item--inverted .advantages__number {
    grid-column: 2 / 3;
  }
  .advantages__item--inverted .advantages__description {
    grid-column: 2 / 3;
  }
  .advantages__item--inverted .advantages__image {
    grid-column: 1 / 2;
  }
}
@media (min-width: 1200px) {
  .advantages__item--inverted {
    grid-template-columns: 800px 1fr;
  }
}
.advantages__item--without-image {
  background-color: #eeeeee;
}
.button {
  font-weight: 700;
  text-decoration: none;
  display: block;
  border: none;
}
.card-like__icon {
  color: #000000;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .card-like__icon {
    color: #ffffff;
    opacity: 1;
  }
}
.catalog-header {
  text-align: center;
  padding: 0 18px;
}
.catalog-header__title {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .catalog-header__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.catalog-header__slogan {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .catalog-header__slogan {
    font-size: 14px;
    line-height: 21px;
  }
}
.catalog-presentation {
  text-align: center;
  padding: 0 18px;
}
.catalog-presentation__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .catalog-presentation__slogan {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .catalog-presentation__slogan {
    font-size: 30px;
  }
}
.catalog-presentation__text {
  color: #333333;
  font-size: 12px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .catalog-presentation__text {
    font-size: 14px;
  }
}
.catalog-presentation__video-wrapper {
  position: relative;
}
.catalog-presentation__play-button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-top: 27px solid transparent;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-bottom: 27px solid transparent;
  background-color: transparent;
}
.catalog-preview {
  font-size: 14px;
  line-height: 21px;
  padding: 0 18px;
}
.catalog-preview__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-preview__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.catalog-preview__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-preview__item {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item--top-card {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item--low-ratting-card {
    background-color: #eaeaea;
  }
}
.catalog-preview__description-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-preview__description-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 22px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__description-wrapper {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
.catalog-preview__title {
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-preview__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.catalog-preview__author {
  font-style: normal;
  text-transform: initial;
  color: #333333;
}
@media (min-width: 768px) {
  .catalog-preview__author {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__author {
    color: #ffffff;
  }
}
.catalog-preview__like-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  text-align: start;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .catalog-preview__like-button {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__like-button {
    color: #ffffff;
  }
}
.feedback-form {
  padding: 0 18px;
}
@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
}
.feedback-form__user-information {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form__user-information {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 21px;
  }
}
.feedback-form__label {
  font-size: 14px;
}
.feedback-form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
}
.feedback-form__user-contact {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .feedback-form__user-contact {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
.feedback-form__user-scoring {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .feedback-form__user-scoring {
    grid-column: 1 / 3;
  }
}
.feedback-form__user-text-place {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form__user-text-place {
    grid-column: 1 / 3;
    align-items: center;
  }
}
.feedback-form__user-text {
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  resize: none;
}
@media (min-width: 1200px) {
  .feedback-form__user-text {
    width: 768px;
  }
}
.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .feedback-form__button {
    width: 324px;
    margin-left: 182px;
  }
}
.feedback-form__description-for-requirements {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  float: right;
}
@media (min-width: 768px) {
  .feedback-form__description-for-requirements {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .feedback-form__description-for-requirements {
    margin-right: 184px;
  }
}
.feedback-header {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.feedback-header__title {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .feedback-header__title {
    font-size: 30px;
  }
}
.feedback-header__text {
  color: #333333;
}
@media (min-width: 768px) {
  .feedback-header__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.hero {
  background-image: url("../img/header/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/header/back-desktop.jpg");
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
.hero__wrapper--other-pages {
  padding: 40px 0 50px;
}
.hero__content {
  margin: 0 auto;
  display: block;
  width: 282px;
}
@media (min-width: 768px) {
  .hero__content {
    width: 461px;
  }
}
.hero__content--other-pages {
  width: 229px;
}
@media (min-width: 768px) {
  .hero__content--other-pages {
    width: 457px;
  }
}
.hotel-search {
  text-align: center;
}
.hotel-search__question {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
}
.hotel-search__button {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 6px;
  max-width: 458px;
  margin: 0 auto;
}
.inner-advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: start;
}
@media (min-width: 768px) {
  .inner-advantages {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    text-align: center;
  }
}
.inner-advantages__title {
  font-size: 18px;
  line-height: 26px;
}
.inner-advantages__description {
  font-size: 14px;
  color: #333333;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 36px 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
.main-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
.main-header__logo {
  text-align: center;
  display: block;
  margin-bottom: -45px;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-header__logo {
    display: none;
  }
}
.main-nav {
  position: relative;
  min-width: 320px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: block;
  }
}
.main-nav__toggle {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: 18px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.page__body {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    color: #000000;
    padding: 18px 10px;
  }
}
@media (min-width: 1200px) {
  .site-list__link {
    margin: 0 50px;
  }
}
.site-list__link--active {
  color: #766357;
}
.site-list__link--logo {
  margin: 0;
  padding: 0;
}
.site-list__item--logo {
  display: none;
  width: 185px;
}
@media (min-width: 768px) {
  .site-list__item--logo {
    display: block;
    grid-column: 3 / 4;
    margin-bottom: -40px;
  }
}
.social {
  display: flex;
  gap: 6px;
}
.social__link {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}
.special-link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.checkbox-select__ist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .checkbox-select__ist {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.checkbox-select__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
}
.radio-select__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .radio-select__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.radio-select__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
img {
  max-width: 100%;
  object-fit: contain;
}
body {
  margin: 0;
  min-height: 100%;
  min-width: 320px;
}
.site-wrapper {
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .site-wrapper {
    margin: 0 40px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
/*# sourceMappingURL=style.css.map */
