.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__text {
  font-size: 14px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  font-size: 14px;
}

.advantages__description {
  font-size: 14px;
}

.advantages__item--with-image {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__item--without-image {
  background-color: #eeeeee;
}
