.catalog-preview {
  font-size: 14px;
  line-height: 21px;
}

.catalog-preview__author {
  font-style: normal;
  text-transform: initial;
  color: #333333;
}

.catalog-preview__like-button {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border: none;
}
