.catalog-preview {
  font-size: 14px;
  line-height: 21px;
  padding: 0 18px;
}

.catalog-preview__like-button {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  border: none;
}

.catalog-preview__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-preview__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-preview__item--top-card {

  @media (min-width: @tablet-width) {
  grid-column: 1 / 3;
  }
}

.catalog-preview__item--low-ratting-card {
  @media (min-width: @tablet-width) {
    background-color: #eaeaea;
  }
}

.catalog-preview__image {

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

.catalog-preview__title {

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 20px;
  }
}

.catalog-preview__author {
  font-style: normal;
  text-transform: initial;
  color: #333333;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 20px;
  }
}

.catalog-preview__like-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  text-align: start;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-self: end;
    margin-right: 20px;
  }
}
