.feedback-form {
  padding: 0 18px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.feedback-form__user-information {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -36px;
      height: 100%;
      width: 1px;
      background-color: #dbdbdb;
    }
  }
}

.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.feedback-form__label {
  font-size: 14px;
  margin-left: 16px;
}

.feedback-form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.feedback-form__user {
  margin: 24px 0 0;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.feedback-form__user-contact {
  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.feedback-form__user:last-of-type {
  @media (max-width: @mobile-width-only) {
    &::after {
      display: none;
    }
  }
}

.feedback-form__user-scoring {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;

    //Стилизация декоративной линии
    .feedback-form__title {
      position: relative;
      width: 100%;
      z-index: 0;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -2;
      }

      //Подложка для текста
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: 402px;
        height: 100%;
        background-color: #ffffff;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }
}

.feedback-form__user-text-place {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    align-items: center;

    //Стилизация декоративной линии
    .feedback-form__title {
      position: relative;
      width: 100%;
      z-index: 0;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -2;
      }

      //Подложка для текста
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        width: 402px;
        height: 100%;
        background-color: #ffffff;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }
}

.feedback-form__user-text {
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  resize: none;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}

.feedback-form__button-container {
  display: flex;
  margin-top: 56px;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
  }

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    justify-content: space-between;
    align-items: baseline;
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    margin: 56px 96px;
  }
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
  }
}

.feedback-form__description-for-requirements {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    justify-self: end;
  }
}
