.feedback-form {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 0 60px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
    gap: 17px 77px;
  }
}

.feedback-form__user {
  margin: 24px 0 0;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.feedback-form__user > *:not(:first-child) {
  @media (max-width: @mobile-width-only) {
    margin: 0 20px;
  }
}

.feedback-form__user--information {
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    margin-top: 39px;

    &::before {
      content: "";
      position: absolute;
      top: -48px;
      right: -1.1%;
      height: calc(100% + 28px);
      width: 1px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      right: -12%;
    }
  }
}

.feedback-form__user--information .feedback-form__title {
  @media (min-width: @desktop-width) {
    margin-left: 26px
  }
}

.feedback-form__user--information .feedback-form__input {
  @media (min-width: @desktop-width) {
    width: 97%;
  }
}

.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    background-color: #ffffff;
  }
}

//Декоративная полоска для легенды
@media (min-width: @tablet-width) {
  .feedback-form__title-wrapper {
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      top: 50%;
      left: 0;
    }
  }
}

.feedback-form__label {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
  }
}

.feedback-form__user .feedback-form__label {
  margin-left: 36px;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-left: 16px;
  }
}

.feedback-form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  width: 280px;
}

.feedback-form__user .feedback-form__input {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.feedback-form__input--phone {
  background-image: url("../img/form/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px 60px 14px 16px;
}

.feedback-form__user--contact .feedback-form__input--phone {
  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
  }
}

.feedback-form__input--e-mail {
  background-image: url("../img/form/e-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 63px;
}

//Декоративная полоска внизу fieldset
@media (max-width: @mobile-width-only) {
  .feedback-form__user:not(:nth-last-child(2)) {
    box-shadow: inset 0 -1px #e5e5e5;
  }
}

.feedback-form__user--contact {
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 39px;
    margin-left: 40px;
  }
}

.feedback-form__user--contact .feedback-form__title {
  @media (min-width: @tablet-width) {
    margin-left: -33px;
  }
}

.feedback-form__user--contact .feedback-form__input {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
.feedback-form__user:last-of-type::after {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.feedback-form__user--scoring {
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    margin-top: 21px;
  }

  &:nth-of-type(2) {
    margin-top: 16px;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;

    &:nth-of-type(2) {
      padding-bottom: 46px;
    }
  }
}

.feedback-form__user--scoring .feedback-form__title {
  margin-bottom: 1px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 402px;
    z-index: 0;
    padding: 0;
  }
}

.feedback-form__user--text-place {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
  }
}

.feedback-form__user--text-place .feedback-form__title {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 402px;
    z-index: 0;
    padding: 0;
    margin-bottom: 0;
  }
}

.feedback-form__user--text-place .feedback-form__title-wrapper {
  margin-bottom: 27px;
}

.feedback-form__user-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  resize: none;
  box-sizing: border-box;
  align-self: center;

  @media (min-width: @tablet-width) {
    min-width: 100%;
  }

  @media (min-width: @desktop-width) {
    min-width: 80%;
  }
}

.feedback-form__user--text-place .feedback-form__user-text {
  margin: 0;
  width: 278px;
  min-height: 148px;

  @media (min-width: @tablet-width) {
    min-height: 160px;
  }
}

.feedback-form__button-container {
  display: flex;
  margin: 56px 20px 0;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
    gap: 3px;
  }

  @media (min-width: @tablet-width) {
    grid-column: span 2;
    justify-content: space-between;
    align-items: baseline;
    max-width: 768px;
    margin: 40px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 31px 96px 0;
  }
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
  }
}

.feedback-form__description-for-requirements {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  align-self: end;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    justify-self: end;
    align-self: baseline;
  }
}
