.hero {
  background-image: url("../img/header/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    background-image: url("../img/header/back-desktop.jpg");
    padding-top: 77px;
    padding-bottom: 91px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header/back-desktop@2x.jpg");
    }
  }
}

.hero__wrapper--other-pages {
  padding: 40px 0 50px;
}

.hero__content {
  margin: 0 auto;
  display: block;
  width: 282px;

  @media (min-width: @tablet-width) {
    width: 461px;
  }
}

.hero__content--other-pages {
  width: 229px;

  @media (min-width: @tablet-width) {
    width: 457px;
  }
}
