.hotel-search {
  text-align: center;
}

.hotel-search__question {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
}

.hotel-search__button {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 6px;
}
