.hotel-search__question {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}
