.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 18px 21px;

  @media (min-width: @tablet-width) {
    padding: 36px 76px 36px 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 136px 36px 119px;
  }
}

.main-footer__list {
  margin: 0 18px 40px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 12px;
  }
}

.main-footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  margin: 0 18px 34px;

  @media (min-width: @tablet-width) {
    margin: 6px 0 0;
  }
}

.main-footer__developed-by-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-footer--catalog {
  padding-top: 24px;
}
