.site-list {
  @media (max-width: @mobile-width-only) {
    background-color: #81b3d2;
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    //Исправление наложения лого на вторую строку при переполнении
    row-gap: 42px;
    background-color: #ffffff;
  }
}

.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  display: block;
  padding: 17px 50px 12px;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px rgba(1, 1, 1, 0.2);
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    color: #000000;
    padding: 23px 10px 16px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 50px;
  }
}

//Убираю белую полоску у первого элемента списка меню
.site-list__item:first-child .site-list__link {
  @media (max-width: @mobile-width-only) {
    box-shadow: inset 0 -1px rgba(1, 1, 1, 0.2);
  }
}

//Убираю черную полоску у последнего элемента списка меню
.site-list__item:last-child .site-list__link {
  @media (max-width: @mobile-width-only) {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
    position: relative;
  }
}

//Дополнительно вешаю тень на последний блок
.site-list__item:last-child .site-list__link::before {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

//Контейнер для лого сайта в списке, прячем в мобилке, показываем на других устройствах.
.site-list__item--logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    grid-column: 3 / 4;
  }
}

.site-list__link--active {
  @media (min-width: @tablet-width) {
    color: #766357;
  }
}
