@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff2") format("woff");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.advantages {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 33px;
}
.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 1px 20px 35px 18px;
  max-width: 520px;
}
@media (min-width: 768px) {
  .advantages__slogan {
    display: inline-block;
    font-size: 21px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .advantages__slogan {
    margin-top: 27px;
    margin-left: 16px;
  }
}
.advantages__text {
  margin: 0 18px 16px;
}
@media (min-width: 768px) {
  .advantages__text {
    margin-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .advantages__text {
    margin-bottom: 43px;
  }
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .advantages__list--decorative {
    padding: 34px 0 0;
    background-color: #81b3d2;
    position: relative;
    overflow: hidden;
  }
  .advantages__list--decorative::before {
    content: "";
    position: absolute;
    width: 768px;
    height: 37px;
    top: 0;
    left: 50%;
    background-image: url("../img/main/advantages/advantages-top-triangle.svg");
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .advantages__list--decorative {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.advantages__item {
  padding: 37px 0 0;
}
.advantages__item--with-image {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item--with-image {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 512px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__item--with-image {
    grid-template-rows: 117px 46px 93px;
    grid-template-columns: 1fr 800px;
  }
}
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 18px 11px;
}
@media (min-width: 768px) {
  .advantages__title {
    grid-column: 1 / 2;
    margin: 53px 20px 13px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    margin: 53px 92px 0;
  }
}
.advantages__number {
  margin: 0 18px 17px;
}
@media (min-width: 768px) {
  .advantages__number {
    grid-column: 1 / 2;
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .advantages__number {
    margin-bottom: 0;
  }
}
.advantages__description {
  margin: 0 18px 0;
  padding-bottom: 39px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .advantages__description {
    grid-column: 1 / 2;
    padding-bottom: 31px;
    margin: 0 23px 0;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    margin: 0 34px 0;
  }
}
@media (min-width: 768px) {
  .advantages__image-container {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
.advantages__image-container img {
  display: block;
}
@media (min-width: 768px) {
  .advantages__image-container img {
    min-width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__image-container img {
    min-width: 800px;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted {
    grid-template-columns: 512px 1fr;
  }
}
@media (min-width: 1200px) {
  .advantages__item--inverted {
    grid-template-columns: 800px 1fr;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted .advantages__title {
    grid-column: 2 / 3;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted .advantages__number {
    grid-column: 2 / 3;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted .advantages__description {
    grid-column: 2 / 3;
    margin: 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .advantages__item--inverted .advantages__description {
    margin: 0 72px 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--inverted .advantages__image-container {
    grid-column: 1 / 2;
  }
}
.advantages__item--without-image {
  background-color: #eeeeee;
  position: relative;
  padding: 24px 0 26px;
}
.advantages__item--without-image::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 36px);
  background-color: #d6d6d6;
  bottom: 0;
  left: 0;
  margin: 0 18px;
}
@media (min-width: 768px) {
  .advantages__item--without-image {
    padding: 24px 0 41px;
  }
  .advantages__item--without-image::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__item--without-image .advantages__title {
    max-width: 136px;
    display: inline-block;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--without-image .advantages__title {
    margin-top: 41px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--without-image .advantages__number {
    margin-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .advantages__item--without-image:nth-child(4) .advantages__title {
    margin-top: 19px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--without-image:nth-child(4) .advantages__title {
    margin-top: 30px;
  }
}
.advantages__item--without-image .advantages__description {
  padding-bottom: 0;
  margin: 0 32px 0;
}
@media (min-width: 768px) {
  .advantages__item--without-image .advantages__description {
    display: inline-block;
    max-width: 190px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--without-image .advantages__description {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .advantages__item--without-image:nth-child(4) .advantages__description {
    margin: 0 32px 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--without-image:nth-child(4) .advantages__description {
    max-width: 180px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--without-image:nth-child(4) .advantages__description {
    max-width: none;
  }
}
.advantages__item--without-image:last-child::after {
  display: none;
}
.button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #81b3d2;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.card-like__icon {
  color: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .card-like__icon {
    margin-top: 6px;
  }
}
@media (min-width: 1200px) {
  .card-like__icon {
    color: #ffffff;
    opacity: 1;
  }
}
.card-like__value {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .card-like__value {
    margin-top: 9px;
    margin-left: 10px;
  }
}
.catalog-header {
  text-align: center;
  padding: 37px 18px 37px;
}
@media (max-width: 767px) {
  .catalog-header {
    position: relative;
  }
  .catalog-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .catalog-header {
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .catalog-header {
    padding-bottom: 88px;
  }
}
.catalog-header__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 26px;
}
@media (min-width: 768px) {
  .catalog-header__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 29px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .catalog-header__title {
    margin-top: 61px;
  }
}
.catalog-header__slogan {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  max-width: 426px;
  display: inline-block;
}
@media (min-width: 768px) {
  .catalog-header__slogan {
    font-size: 14px;
    line-height: 21px;
  }
}
.catalog-presentation {
  text-align: center;
  padding: 0 18px;
}
.catalog-presentation__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 17px 0 26px;
}
@media (min-width: 768px) {
  .catalog-presentation__slogan {
    font-size: 30px;
    margin-top: 56px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1200px) {
  .catalog-presentation__slogan {
    font-size: 30px;
    margin-top: 60px;
  }
}
.catalog-presentation__text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0 24px 39px;
}
@media (min-width: 768px) {
  .catalog-presentation__text {
    font-size: 14px;
    display: inline-block;
    max-width: 443px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .catalog-presentation__text {
    margin-bottom: 88px;
  }
}
.catalog-presentation__video-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .catalog-presentation__video-wrapper img {
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .catalog-presentation__video-wrapper img {
    width: 800px;
  }
}
.catalog-presentation__play-button {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-top: 27px solid transparent;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-bottom: 27px solid transparent;
  border-right: 0;
  background-color: transparent;
}
.catalog-preview {
  font-size: 14px;
  line-height: 21px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog-preview {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview {
    padding: 0;
  }
}
.catalog-preview__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-preview__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.catalog-preview__item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .catalog-preview__item {
    padding: 24px 0 25px;
    position: relative;
  }
  .catalog-preview__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item--top-card {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item--top-card .catalog-preview__description-wrapper {
    padding: 22px 20px 15px;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item--low-ratting-card {
    background-color: #eaeaea;
  }
}
.catalog-preview__item img {
  display: block;
}
@media (max-width: 767px) {
  .catalog-preview__item img {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item img {
    min-width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item img {
    min-width: 400px;
  }
}
@media (min-width: 768px) {
  .catalog-preview__item--top-card img {
    min-width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item--top-card img {
    width: 1200px;
  }
}
.catalog-preview__description-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-preview__description-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 22px 20px 15px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__description-wrapper {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 18px;
  }
}
.catalog-preview__title {
  margin: 0 0 1px;
}
@media (min-width: 768px) {
  .catalog-preview__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__title {
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item--top-card .catalog-preview__title {
    margin-bottom: 1px;
  }
}
.catalog-preview__author {
  font-style: normal;
  text-transform: initial;
  color: #333333;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .catalog-preview__author {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__author {
    color: #ffffff;
    margin: 0;
  }
}
.catalog-preview__like-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  text-align: start;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .catalog-preview__like-button {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__like-button {
    color: #ffffff;
    margin-top: 4px;
  }
}
@media (min-width: 1200px) {
  .catalog-preview__item--top-card .catalog-preview__like-button {
    margin-top: 0;
  }
}
.feedback-form {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .feedback-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: 0 60px 60px;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    margin: 0 120px 60px;
    gap: 17px 77px;
  }
}
.feedback-form__user {
  margin: 0;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .feedback-form__user > *:not(:first-child) {
    margin: 0 20px;
  }
}
.feedback-form__user--information {
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .feedback-form__user--information {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    margin-top: 78px;
  }
  .feedback-form__user--information::before {
    content: "";
    position: absolute;
    top: -48px;
    right: -1.1%;
    height: calc(100% + 28px);
    width: 1px;
    background-color: #dbdbdb;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--information {
    margin-top: 39px;
  }
  .feedback-form__user--information::before {
    right: -12%;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--information .feedback-form__title {
    margin-left: 26px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--information .feedback-form__input {
    width: 97%;
  }
}
.feedback-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 21px;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .feedback-form__title-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .feedback-form__title-wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    left: 0;
  }
}
.feedback-form__label {
  font-size: 14px;
}
@media (min-width: 768px) {
  .feedback-form__label {
    margin-top: 6px;
  }
}
.feedback-form__user .feedback-form__label {
  margin-left: 36px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .feedback-form__user .feedback-form__label {
    margin-left: 16px;
  }
}
.feedback-form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  width: 280px;
}
.feedback-form__input:hover {
  background-color: #e5e5e5;
}
.feedback-form__input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}
.feedback-form__user .feedback-form__input {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .feedback-form__user .feedback-form__input {
    margin-bottom: 10px;
  }
}
.feedback-form__input--phone {
  background-image: url("../img/form/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px 60px 14px 16px;
}
@media (min-width: 768px) {
  .feedback-form__user--contact .feedback-form__input--phone {
    margin-bottom: 13px;
  }
}
.feedback-form__input--e-mail {
  background-image: url("../img/form/e-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 63px;
}
@media (max-width: 767px) {
  .feedback-form__user:not(:nth-last-child(2)) {
    box-shadow: inset 0 -1px #e5e5e5;
  }
}
.feedback-form__user--contact {
  padding-bottom: 20px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .feedback-form__user--contact {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 78px;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--contact {
    margin-top: 39px;
  }
}
@media (min-width: 768px) {
  .feedback-form__user--contact .feedback-form__title {
    margin-left: -20px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--contact .feedback-form__title {
    margin-left: -33px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--contact .feedback-form__input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .feedback-form__user:last-of-type::after {
    display: none;
  }
}
.feedback-form__user--scoring {
  padding-bottom: 23px;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .feedback-form__user--scoring {
    grid-column: 1 / 3;
    margin-top: 21px;
    padding: 0;
    margin-bottom: 20px;
  }
  .feedback-form__user--scoring:nth-of-type(2) {
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user--scoring {
    padding-bottom: 40px;
    margin-bottom: 16px;
  }
  .feedback-form__user--scoring:nth-of-type(2) {
    padding-bottom: 46px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.feedback-form__user--scoring .feedback-form__title {
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .feedback-form__user--scoring .feedback-form__title {
    position: relative;
    width: 402px;
    z-index: 0;
    padding: 0;
  }
}
.feedback-form__user--text-place {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .feedback-form__user--text-place {
    grid-column: 1 / 3;
    margin-top: 3px;
  }
}
@media (min-width: 768px) {
  .feedback-form__user--text-place .feedback-form__title {
    position: relative;
    width: 402px;
    z-index: 0;
    padding: 0;
    margin-bottom: 0;
  }
}
.feedback-form__user-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  resize: none;
  box-sizing: border-box;
  align-self: center;
}
.feedback-form__user-text:hover {
  background-color: #e5e5e5;
}
.feedback-form__user-text:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}
@media (min-width: 768px) {
  .feedback-form__user-text {
    min-width: 100%;
  }
}
@media (min-width: 1200px) {
  .feedback-form__user-text {
    min-width: 80%;
  }
}
.feedback-form__user--text-place .feedback-form__user-text {
  margin: 0;
  width: 278px;
  min-height: 148px;
}
@media (min-width: 768px) {
  .feedback-form__user--text-place .feedback-form__user-text {
    min-height: 160px;
    margin-top: 28px;
  }
}
.feedback-form__button-container {
  display: flex;
  margin: 56px 20px 0;
}
@media (max-width: 767px) {
  .feedback-form__button-container {
    flex-direction: column;
    gap: 3px;
  }
}
@media (min-width: 768px) {
  .feedback-form__button-container {
    grid-column: span 2;
    justify-content: space-between;
    align-items: baseline;
    max-width: 768px;
    margin: 40px 0 0;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button-container {
    margin: 31px 96px 0;
  }
}
.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .feedback-form__button {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button {
    width: 384px;
  }
}
.feedback-form__description-for-requirements {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  align-self: end;
}
@media (min-width: 768px) {
  .feedback-form__description-for-requirements {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    justify-self: end;
    align-self: baseline;
  }
}
.feedback-header {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 36px 20px 24px;
}
@media (max-width: 767px) {
  .feedback-header {
    position: relative;
    padding-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .feedback-header {
    margin-top: 65px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .feedback-header {
    margin-top: 113px;
    margin-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .feedback-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}
.feedback-header__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 24px;
}
@media (min-width: 768px) {
  .feedback-header__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .feedback-header__title {
    font-size: 30px;
    margin-bottom: 29px;
  }
}
.feedback-header__text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  max-width: 435px;
}
@media (min-width: 768px) {
  .feedback-header__text {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
  }
}
.hero {
  background-image: url("../img/header/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.hero::after {
  position: absolute;
  content: "";
  background-image: url("../img/header/intro-triangle.svg");
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/header/back-tablet.jpg");
    padding-top: 77px;
    padding-bottom: 6px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/header/back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url("../img/header/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/header/back-desktop@2x.jpg");
  }
}
.hero--other-pages {
  background-position: bottom;
}
@media (min-width: 768px) {
  .hero--other-pages {
    padding: 82px 0 101px;
  }
}
.hero__wrapper--other-pages {
  padding: 40px 0 50px;
}
@media (min-width: 768px) {
  .hero__wrapper--other-pages {
    padding: 0;
  }
}
.hero__content {
  margin: 90px auto 85px;
  display: block;
  width: 282px;
  height: 214px;
}
@media (min-width: 768px) {
  .hero__content {
    width: 461px;
    height: 350px;
    margin-top: 0;
  }
}
.hero__content--other-pages {
  width: 229px;
  height: 39px;
  margin: 12px auto 17px;
}
@media (min-width: 768px) {
  .hero__content--other-pages {
    width: 459px;
    height: 80px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .hero__content--other-pages {
    width: 460px;
    height: 80px;
    margin: 20px auto 18px;
  }
}
.hotel-search {
  text-align: center;
  padding-top: 38px;
}
@media (min-width: 768px) {
  .hotel-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 62px;
  }
}
.hotel-search__question {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 18px 21px;
}
@media (min-width: 768px) {
  .hotel-search__question {
    font-size: 30px;
    margin-bottom: 31px;
  }
}
.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0 18px 32px;
}
@media (min-width: 768px) {
  .hotel-search__text {
    max-width: 435px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__text {
    margin-bottom: 46px;
  }
}
.hotel-search__button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 16px 6px;
  max-width: 458px;
  margin: 0 18px 49px;
}
@media (min-width: 768px) {
  .hotel-search__button {
    min-width: 446px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .hotel-search__button {
    margin-bottom: 66px;
  }
}
.hotel-search iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
}
@media (min-width: 768px) {
  .hotel-search iframe {
    height: 350px;
  }
}
.inner-advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: start;
  padding: 23px 0 44px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media (min-width: 768px) {
  .inner-advantages {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    text-align: center;
    padding: 23px 0 60px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages {
    padding-bottom: 68px;
  }
}
.inner-advantages__item {
  background-repeat: no-repeat;
  background-position: 18px 0;
}
.inner-advantages__item--housing {
  background-image: url("../img/main/advantages/housing.svg");
}
@media (min-width: 768px) {
  .inner-advantages__item--housing {
    background-size: 79px 79px;
    background-position: 55% 20%;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--housing {
    background-size: 83px 78px;
    background-position: 53% 27%;
  }
}
.inner-advantages__item--food {
  background-image: url("../img/main/advantages/food.svg");
}
@media (min-width: 768px) {
  .inner-advantages__item--food {
    background-size: 83px 77px;
    background-position: 49% 20%;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--food {
    background-position: 49% 28%;
    background-size: 74px 78px;
  }
}
.inner-advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 8px 18px 16px;
}
@media (max-width: 767px) {
  .inner-advantages__title {
    padding-left: 47px;
  }
}
@media (min-width: 768px) {
  .inner-advantages__title {
    font-size: 21px;
    margin: 135px 20px 23px 37px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__title {
    margin: 147px 20px 23px 37px;
  }
}
@media (min-width: 768px) {
  .inner-advantages__item--food .inner-advantages__title {
    margin: 133px 37px 23px 37px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--food .inner-advantages__title {
    margin: 144px 39px 23px 37px;
  }
}
.inner-advantages__item--gifts {
  background-image: url("../img/main/advantages/gifts.svg");
}
@media (min-width: 768px) {
  .inner-advantages__item--gifts {
    background-size: 83px 78px;
    background-position: 46% 23%;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--gifts {
    background-size: 95px 78px;
    background-position: 46% 28%;
  }
}
@media (min-width: 768px) {
  .inner-advantages__item--gifts .inner-advantages__title {
    margin: 130px 40px 23px 20px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--gifts .inner-advantages__title {
    margin: 148px 38px 23px 20px;
  }
}
.inner-advantages__description {
  font-size: 14px;
  color: #333333;
  margin: 0 18px 0;
}
@media (max-width: 767px) {
  .inner-advantages__description {
    padding-left: 47px;
  }
}
@media (min-width: 768px) {
  .inner-advantages__description {
    max-width: 190px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__description {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .inner-advantages__item--housing .inner-advantages__description {
    margin: 0 18px 0 35px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--housing .inner-advantages__description {
    margin: 0 35px 0 52px;
  }
}
@media (min-width: 768px) {
  .inner-advantages__item--gifts .inner-advantages__description {
    margin: 0 48px 0 27px;
  }
}
@media (min-width: 1200px) {
  .inner-advantages__item--gifts .inner-advantages__description {
    margin: 0 73px 0 54px;
  }
}
.inner-advantages__line-break {
  display: none;
}
@media (min-width: 1200px) {
  .inner-advantages__line-break {
    display: block;
  }
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 18px 21px;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 36px 76px 36px 60px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 36px 136px 36px 119px;
  }
}
.main-footer__list {
  margin: 0 18px 40px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-footer__list {
    margin: 0 0 0 12px;
  }
}
.main-footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  margin: 0 18px 34px;
}
@media (min-width: 768px) {
  .main-footer__link {
    margin: 6px 0 0;
  }
}
.main-footer__developed-by-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-footer__developed-by-link:hover {
  color: #81b3d2;
}
.main-footer__developed-by-link:active {
  color: #b3b3b3;
}
.main-footer--catalog {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .main-footer--catalog {
    padding-top: 71px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .main-footer--catalog {
    padding-top: 115px;
    padding-right: 121px;
  }
}
@media (min-width: 768px) {
  .main-footer--catalog .main-footer__list {
    margin-left: -7px;
  }
}
@media (min-width: 768px) {
  .main-footer--form {
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .main-footer--form {
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .main-footer--form .main-footer__list {
    margin-left: -8px;
    margin-top: 2px;
  }
}
.main-header__logo {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 185px;
  height: 96px;
  margin-bottom: -40px;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-header__logo {
    margin-bottom: -100px;
    z-index: 1;
  }
}
.main-nav {
  position: relative;
}
@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    width: 100%;
    top: -51px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .main-nav__list {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--opened .main-nav__list {
  display: block;
}
.main-nav__toggle {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -41px;
  right: 22px;
  width: 23px;
  height: 22px;
  z-index: 2;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  left: 0;
  top: 0;
  background-color: #81b3d2;
  box-shadow: 0 9px #81b3d2, 0 18px #81b3d2;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  left: 0;
  top: 50%;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  left: 0;
  top: 50%;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__list {
  display: block;
  position: static;
  margin-top: 50px;
}
.main-nav--nojs .main-nav__wrapper {
  display: block;
  position: static;
  margin-top: 50px;
}
.page__body {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .site-list {
    background-color: #81b3d2;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 42px;
    background-color: #ffffff;
  }
}
.site-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  display: block;
  padding: 18px 50px 12px;
  text-align: center;
}
@media (max-width: 767px) {
  .site-list__link {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px rgba(1, 1, 1, 0.2);
  }
  .site-list__link:hover {
    background-color: #669ec0;
  }
  .site-list__link:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
    color: #000000;
    padding: 23px 10px 16px;
  }
  .site-list__link:hover {
    color: #81b3d2;
  }
  .site-list__link:active {
    color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list__link {
    margin: 0 50px;
  }
}
@media (max-width: 767px) {
  .site-list__item:first-child .site-list__link {
    box-shadow: inset 0 -1px rgba(1, 1, 1, 0.2);
  }
}
@media (max-width: 767px) {
  .site-list__item:last-child .site-list__link {
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
    position: relative;
  }
}
@media (max-width: 767px) {
  .site-list__item:last-child .site-list__link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
.site-list__item--logo {
  display: none;
}
@media (min-width: 768px) {
  .site-list__item--logo {
    display: block;
    grid-column: 3 / 4;
  }
}
@media (min-width: 768px) {
  .site-list__link--active {
    color: #766357;
  }
}
.social {
  display: flex;
  gap: 6px;
}
.social__link {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}
.social__link:active .social__icon {
  opacity: 0.3;
}
.special-link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.checkbox-select__list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0;
}
@media (max-width: 767px) {
  .checkbox-select__list {
    display: grid;
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .checkbox-select__list {
    margin: 7px 84px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px 32px;
  }
}
@media (min-width: 1200px) {
  .checkbox-select__list {
    margin: 0 24px 0 44px;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding-top: 59px;
  }
}
@media (min-width: 1200px) {
  .checkbox-select__item:last-child {
    margin-left: -19px;
  }
}
.checkbox-select__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  padding: 10px 0 10px 62px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.checkbox-select__label:hover .checkbox-select__mark {
  background-color: #e5e5e5;
}
.checkbox-select__label:active .checkbox-select__mark {
  background-color: #d5d5d5;
}
.checkbox-select__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.checkbox-select__input[type="checkbox"]:checked + .checkbox-select__mark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/form/checkbox-select__mark.svg");
}
.checkbox-select__input[type="checkbox"]:checked:active + .checkbox-select__mark::before {
  opacity: 0.3;
}
.checkbox-select__input[type="checkbox"]:checked:focus + .checkbox-select__mark::before {
  opacity: 0.3;
}
.radio-select__list {
  list-style-type: none;
  padding: 0;
}
@media (max-width: 767px) {
  .radio-select__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0 0;
  }
}
@media (min-width: 768px) {
  .radio-select__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 15px;
    justify-items: center;
    margin: 20px 0 0;
  }
}
@media (min-width: 1200px) {
  .radio-select__list {
    margin: 0 45px 0 53px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding-top: 36px;
  }
}
.radio-select__item {
  min-height: 46px;
}
@media (min-width: 768px) {
  .radio-select__item:nth-child(2n) {
    justify-self: start;
  }
  .radio-select__item:nth-child(3) {
    margin-left: -8px;
  }
}
.radio-select__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  padding: 10px 0 10px 62px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
@media (min-width: 768px) {
  .radio-select__label {
    margin-top: 8px;
  }
}
.radio-select__label:hover .radio-select__mark {
  background-color: #e5e5e5;
}
.radio-select__label:active .radio-select__mark {
  background-color: #d5d5d5;
}
.radio-select__mark {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radio-select__input[type="radio"]:checked + .radio-select__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}
.radio-select__input[type="radio"]:checked:active + .radio-select__mark::before {
  background-color: rgba(51, 51, 51, 0.3);
}
.radio-select__input[type="radio"]:checked:focus + .radio-select__mark::before {
  background-color: rgba(51, 51, 51, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
img {
  max-width: 100%;
  object-fit: contain;
}
body {
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  max-width: 1280px;
}
.site-wrapper {
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .site-wrapper {
    margin: 0 40px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.modal__window {
  position: relative;
  margin: 116px auto auto;
  padding: 45px 45px 35px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .modal__window {
    max-width: 400px;
    margin-top: 283px;
    padding-top: 50px;
    padding-bottom: 49px;
  }
}
@media (min-width: 1200px) {
  .modal__window {
    margin-top: 244px;
    padding-top: 47px;
  }
}
.modal__large-text {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .modal__large-text {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .modal__large-text {
    line-height: 40px;
  }
}
.modal__description {
  margin: 0 0 28px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .modal__description {
    margin-bottom: 47px;
  }
}
.modal__button {
  min-width: 180px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .modal__button {
    min-width: 272px;
  }
}
.modal--failure {
  display: none;
}
.modal--feedback-sent {
  display: none;
}
.modal--feedback-sent .modal__window {
  padding: 45px 0 0;
  width: 320px;
}
@media (min-width: 768px) {
  .modal--feedback-sent .modal__window {
    margin-top: 162px;
    width: 640px;
    max-width: unset;
  }
}
@media (min-width: 768px) {
  .modal--feedback-sent .modal__large-text {
    width: 340px;
  }
}
.modal--feedback-sent .modal__description {
  max-width: 257px;
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .modal--feedback-sent .modal__description {
    max-width: 412px;
  }
}
.modal__button-wrapper {
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__button-wrapper {
    padding: 44px 91px;
  }
}
.modal--feedback-sent .modal__button {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .modal--feedback-sent .modal__button {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */
